[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cmyui = "==1.9.3"
databases = "==0.8.0"
environs = "==9.5.0"
python-bcrypt = "==0.3.2"
quart = "==0.19.4"
werkzeug = "==3.0.1"

[dev-packages]
pre-commit = "*"


[requires]
python_version = "3.12"
