{% extends "components/base.html" %}
{% block title %} Home {% endblock %}

{% block content %}
<div class="flex flex-row items-center h-[90vh] justify-center">
  <div class="basis-1/2 prose text-center">
    <h1 class="text-orange-600 mb-[1rem] font-bold text-5xl">undeniab.ly<h1>
    <p class="text-white text-lg mb-[1.2rem] my-0">
      <span id="typed"></span>
      <script>
        var typed = new Typed("#typed", {
          strings: [
            "<span class='text-orange-600'>undeniab.ly</span> the best.",
            "<span class='text-orange-600'>undeniab.ly</span> custommizable.",
            "<span class='text-orange-600'>undeniab.ly</span> free.",
            "<span class='text-orange-600'>undeniab.ly</span> you.",
            "all of your <span class='text-orange-600'>socials</span>.^250 all in <span class='text-orange-600'>one place</span>.",
            "begin your <span class='text-orange-600'>undeniable</span> journey today."
          ],
          loop: true,
          smartBackspace: true,
          backDelay: 750,
          backSpeed: 25,
          typeSpeed: 50,
        });
      </script>
    </p>
    {% if session["user"] %}
    <a href="/dashboard" type="button" class="text-white no-underline bg-orange-600 hover:bg-orange-700 focus:ring-4 focus:ring-orange-400 font-medium rounded-lg text-lg px-16 py-3 me-2 mb-2 focus:outline-none">Dashboard &rarr;</a>
    {% else %}
    <a href="/signup" type="button" class="text-white no-underline bg-orange-600 hover:bg-orange-700 focus:ring-4 focus:ring-orange-400 font-medium rounded-lg text-lg px-16 py-3 me-2 mb-2 focus:outline-none">Get started &rarr;</a>
    {% endif %}
  </div>
  <div class="lg:flex hidden basis-1/2 content-center">
    <img src="/static/img/example.png" class="hero w-[400px] h-[600px] object-cover m-auto rounded-xl border-orange-600 border-4">
  </div>
</div>
{% endblock %}