{% extends "components/base.html" %}
{% block title %} Sign up {% endblock %}

{% block content %}
<div class="flex flex-row items-center h-[90vh] sm:justify-center">
    <div class="w-full rounded-lg border-orange-600 border-4 md:mt-0 sm:max-w-md xl:p-0">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                Sign up for <span class="text-orange-600">undeniab.ly</span>.
            </h1>
            <form class="space-y-4 md:space-y-6" action="/signup" method="post">
                <div>
                    <label for="username" class="block mb-2 text-sm font-medium text-white">Username</label>
                    <input type="text" name="username" id="username" class="bg-zinc-800 border border-orange-600 focus:border-2 outline-none text-white sm:text-sm rounded-lg block w-full p-3" placeholder="undeniab.ly" required>
                </div>
                <div>
                    <label for="email" class="block mb-2 text-sm font-medium text-white">Email</label>
                    <input type="text" name="email" id="email" class="bg-zinc-800 border border-orange-600 focus:border-2 outline-none text-white sm:text-sm rounded-lg block w-full p-3" placeholder="me@undeniab.ly" required>
                </div>
                <div>
                    <label for="password" class="block mb-2 text-sm font-medium text-white">Password</label>
                    <input type="password" name="password" id="password" placeholder="••••••••" class="bg-zinc-800 border border-orange-600 outline-none focus:border-2 text-white sm:text-sm rounded-lg block w-full p-3" required>
                </div>
                <div>
                    <label for="confirm-password" class="block mb-2 text-sm font-medium text-white">Confirm Password</label>
                    <input type="password" name="confirm-password" id="confirm-password" placeholder="••••••••" class="bg-zinc-800 border border-orange-600 outline-none focus:border-2 text-white sm:text-sm rounded-lg block w-full p-3" required>
                </div>
                <button type="submit" class="w-full text-white no-underline bg-orange-600 hover:bg-orange-700 focus:ring-4 focus:ring-orange-400 font-medium rounded-lg text-lg px-16 py-3 me-2 mb-2 focus:outline-none">Sign up</button>
                <p class="text-sm font-medium text-white">
                    Already have an account? <a href="/login" class="font-medium text-orange-600 hover:underline">Login</a>
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}