<header class="bg-zinc-900">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="/home" class="-m-1.5 p-1.5 text-lg font-semibold text-orange-500">
          undeniab.ly
          <span class="sr-only text-white">undeniab.ly</span>
        </a>
      </div>
      <div class="flex lg:hidden">
        <button type="button" id="hamburger-open" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
          <span class="sr-only">Open main menu</span>
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
        </button>
      </div>
      <div class="hidden lg:flex lg:gap-x-12">
        <a href="/home" class="text-lg font-semibold leading-6 text-white">Home</a>
        <a href="/discord" class="text-lg font-semibold leading-6 text-white">Discord</a>
        <a href="/store" class="text-lg font-semibold leading-6 text-orange-500">Store</a>
      </div>
      <div class="hidden lg:flex lg:flex-1 lg:gap-x-12 lg:justify-end">
        {% if User.authenticated() %}
        <a href="/dashboard" class="text-lg font-semibold leading-6 text-white">Dashboard</a>
        <a href="/logout" class="text-lg font-semibold leading-6 text-white">Logout <span aria-hidden="true">&rarr;</span></a>
        {% else %}
          {% if url_for(request.endpoint) == "/login" %}
        <a href="/signup" class="text-lg font-semibold leading-6 text-white">Sign up <span aria-hidden="true">&rarr;</span></a>
          {% else %}
        <a href="/login" class="text-lg font-semibold leading-6 text-white">Login <span aria-hidden="true">&rarr;</span></a>
          {% endif %}
        {% endif %}

      </div>
    </nav>
    <div class="lg:hidden hidden" role="dialog" aria-modal="true" id="hamburger-menu">
      <div class="fixed inset-0 z-10"></div>
      <div class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-zinc-900 px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
        <div class="flex items-center justify-between">
          <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">undeniab.ly</span>
          </a>
          <button type="button" id="hamburger-close" class="-m-2.5 rounded-md p-2.5 text-gray-700">
            <span class="sr-only">Close menu</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="mt-6 flow-root">
          <div class="-my-6 divide-y divide-gray-500/10">
            <div class="space-y-2 py-6">
              <a href="/home" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white">Home</a>
              <a href="/discord" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white">Discord</a>
              <a href="/store" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-orange-500">Store</a>
            </div>
            <div class="py-6">
              {% if User.authenticated() %}
              <a href="/dashboard" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-white">Dashboard</a>
              <a href="/logout" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-white">Logout</a>
              {% else %}
                {% if url_for(request.endpoint) == "/login" %}
              <a href="/signup" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-white">Sign up</a>
                {% else %}
              <a href="/login" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-white">Login</a>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
<script src="/static/js/hamburger.js"></script>